<header>
  <a href="/" class="mainLogo">
    <img src="./inventory-logo.svg" alt="Inventory Logo" />
    <h1>Inventory Application</h1>
  </a>
  <nav>
    <a href="/">Home </a>
    <a href="/categories">Categories </a>
    <a href="/add">Add Item </a>
    <a href="/categories/add">Add Category </a>
  </nav>
</header>
