<header>
  <a href="/" class="mainLogo">
    <img src="./inventory-logo.svg" alt="OdinShop Logo" />
    <h1>Inventory Application</h1>
  </a>
  <nav>
    <a href="/">Home </a>
    <a href="/">Add Item </a>
    <a href="/">Create Category </a>
    <a href="/">Help </a>
  </nav>
</header>
