<header>
  <a href="/" class="mainLogo">
    <img src="./inventory-logo.svg" alt="Inventory Logo" />
    <h1>Inventory Application</h1>
  </a>
  <nav>
    <a href="/">Home </a>
    <a href="/add-item">Add Item </a>
    <a href="/add-category">Create Category </a>
    <a href="/">Help </a>
  </nav>
</header>
